[submodule "smartcontract-foundry/lib/forge-std"]
	path = smartcontract-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smartcontract-foundry/lib/openzeppelin-contracts"]
	path = smartcontract-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
